{{> header}}

<section id="top-section">
  <h1><i class="fa fa-envelope"></i> Contact Me</h1>

  <h2>Email</h2>
  <p>If you have any question, comment or feedback, then please do not hesitate to contact me.</p>
  <p><a href="mailto:eigenein@gmail.com" target="_blank" class="button"><i class="fa fa-fw fa-envelope"></i> Email Us</a></p>

  <h2>Social Networks</h2>
  <p>You may also reach me on social networks.</p>
  <p>
    <a href="https://www.facebook.com/pages/SkyNinja/834438353239570" target="_blank" class="button button-blue"><i class="fa fa-fw fa-facebook"></i> {{footer_facebook}}</a><!--
    --><a href="https://www.google.com/+SkyninjaImApp" target="_blank" class="button button-red"><i class="fa fa-fw fa-google-plus"></i> Google+</a><!--
    --><a href="https://twitter.com/skyninjapp" target="_blank" class="button button-blue"><i class="fa fa-fw fa-twitter"></i> {{footer_twitter}}</a><!--
    --><a href="https://vk.com/skyninja" target="_blank" class="button button-blue-inverse"><i class="fa fa-fw fa-vk"></i> {{footer_vk}}</a>
  </p>
</section>

{{> footer}}
