{{> header}}

<section id="top-section">
  <h1><i class="fa fa-btc"></i> Donations</h1>
  <p>
    <strong>SkyNinja</strong> is a free application and supported by donations. If you like <strong>SkyNinja</strong> and want to support it, you can make a donation.<br>
    Even a small donation is appreciated.
  </p>

  <div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="POST" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WTJ9Q8N3RE6ZS">
      <input type="submit" class="button button-blue donate-button" value="PayPal">
    </form><!--
    --><form method="POST" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml" class="donate-form">
      <input type="hidden" name="receiver" value="410011693851843">
      <input type="hidden" name="formcomment" value="{{eigenein_fullname}}">
      <input type="hidden" name="short-dest" value="Donation to SkyNinja">
      <input type="hidden" name="quickpay-form" value="donate">
      <input type="hidden" name="targets" value="http://eigene.in/skyninja">
      <input type="hidden" name="sum" value="50" data-type="number">
      <input type="hidden" name="paymentType" value="AC">
      <input type="submit" class="button donate-button" value="Credit Card">
    </form><!--
    --><form method="POST" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml" class="donate-form">
      <input type="hidden" name="receiver" value="410011693851843">
      <input type="hidden" name="formcomment" value="{{eigenein_fullname}}">
      <input type="hidden" name="short-dest" value="Donation to SkyNinja">
      <input type="hidden" name="quickpay-form" value="donate">
      <input type="hidden" name="targets" value="http://eigene.in/skyninja">
      <input type="hidden" name="sum" value="50" data-type="number">
      <input type="hidden" name="paymentType" value="PC">
      <input type="submit" class="button button-orange donate-button" value="Yandex.Money">
    </form>
  </div>

  <h2>Translations</h2>
  <p>
    Help us translate application and website into your native language.<br>
    Please <a href="{{slash_locale}}/contact">contact us</a> if you are interested.
  </p>

  <h2>Share!</h2>
  <p>If nothing else is option, please share this application with your friends!</p>
  <p>
    <div id="ya-share-donate"></div>
    <script>
      new Ya.share({
        element: "ya-share-donate",
        l10n: "{{locale}}",
        theme: "counter",
        image: "http://skyninja.im/images/SkyNinja-128.png",
        link: "http://skyninja.im",
        title: "SkyNinja",
        elementStyle: {
          quickServices: ["facebook", "twitter", "vkontakte", "gplus", "moimir", "odnoklassniki"]
        }
      });
    </script>
  </p>
</section>

{{> footer}}
