    <!-- Footer. -->

    <footer>
      <ul>
        <li>
          <h6>SkyNinja</h6>
          <ul>
            <li><a href="{{slash_locale}}/">Home</a></li>
            <li><a href="{{slash_locale}}/download">Download</a></li>
            <li><a href="{{slash_locale}}/donate">Donate</a></li>
          </ul>
        </li><!--
     --><li>
          <h6>Connect</h6>
          <ul>
            <li><a href="{{slash_locale}}/contact">Contact</a></li>
            <li><a href="https://www.facebook.com/pages/SkyNinja/834438353239570" target="_blank">{{footer_facebook}}</a></li>
            <li><a href="https://twitter.com/skyninjapp" target="_blank">{{footer_twitter}}</a></li>
            <li><a href="https://plus.google.com/b/114098906513991312153/114098906513991312153" target="_blank" rel="publisher">Google+</a></li>
            <li><a href="https://vk.com/skyninja" target="_blank">{{footer_vk}}</a></li>
          </ul>
        </li><!--
     --><li class="footer-share">
          <h6>Share</h6>
          <p>Share this page with your friends.</p>
          <div id="ya-share"></div>
          <script>
            new Ya.share({
              element: "ya-share",
              l10n: "{{locale}}",
              theme: "counter",
              image: "http://skyninja.im/images/SkyNinja-128.png",
              elementStyle: {
                quickServices: ["facebook", "twitter", "vkontakte", "gplus", "moimir", "odnoklassniki"],
                type: "small"
              }
            });
          </script>
          <p>{{eigenein_fullname}} &copy; 2014</p>
        </li>
      </ul>
    </footer>

  </body>
</html>
