<!DOCTYPE html>
<html lang="{{locale}}" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="skype, skyninja, skype historian, chat, call, history"/>
    <title>{{#title}}{{title}} &middot; {{/title}}SkyNinja</title>
    <link rel="apple-touch-icon-precomposed" href="/skyninja/images/SkyNinja-144.png" sizes="144x144" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/skyninja/images/SkyNinja-114.png" sizes="114x114" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/skyninja/images/SkyNinja-72.png" sizes="72x72" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/skyninja/images/SkyNinja-57.png">
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/skyninja/images/SkyNinja-16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <!-- OpenGraph. -->
    <meta property="og:title" content="SkyNinja">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://eigene.in/skyninja">
    <meta property="og:image" content="http://eigene.in/skyninja/skyninja/images/SkyNinja-128.png">
    <meta property="og:description" content="Export chat messages and call history from Skype">
  </head>
  <body>

    <nav role="navigation">
      <ul>
        <li><a href="{{slash_locale}}/" role="banner">SkyNinja</a></li><!--
     --><li><a href="{{slash_locale}}/"><i class="fa fa-fw fa-home"></i> Home</a></li><!--
     --><li><a href="{{slash_locale}}/download"><i class="fa fa-fw fa-download"></i> Download</a></li><!--
     --><li><a href="{{slash_locale}}/donate"><i class="fa fa-fw fa-btc"></i> Donate</a></li><!--
     --><li><a href="{{slash_locale}}/contact"><i class="fa fa-fw fa-envelope"></i> Contact</a></li><!--
     --><!--<li><a href="#"><i class="fa fa-fw fa-angle-down"></i> Language</a></li>-->
      </ul>
    </nav>

    <!-- End header. -->
