<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#title}}{{title}} &middot; {{/title}}SkyNinja</title>
    <link rel="apple-touch-icon-precomposed" href="/images/SkyNinja-144.png" sizes="144x144" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/images/SkyNinja-114.png" sizes="114x114" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/images/SkyNinja-72.png" sizes="72x72" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/images/SkyNinja-57.png">
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/images/SkyNinja-16.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <style>
      body { padding-top: 50px; font-family: "Segoe UI", Helvetica, Arial, sans-serif; }
      footer { background: #e6e6e6; }
      footer ul { list-style: none; padding: 0; }
      .large-margin { margin: 50px 0; }
      .large-text { line-height: 1.1; font-size: 39px; font-family: "Segoe UI Light", Helvetica, Arial, sans-serif; }
      .medium-margin { margin: 25px 0; }
      .medium-padding { padding: 25px 0; }
      .medium-smaller-text { line-height: 1.1; font-size: 19px; }
      .medium-text { line-height: 1.1; font-size: 24px; }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{slash_locale}}/">SkyNinja</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{slash_locale}}/"><i class="fa fa-home fa-fw"></i> {{header_home}}</a></li>
            <li><a href="{{slash_locale}}/download"><i class="fa fa-download fa-fw"></i> {{header_download}}</a></li>
            <li><a href="{{slash_locale}}/donate"><i class="fa fa-btc fa-fw"></i> {{header_donations}}</a></li>
            <li><a href="{{slash_locale}}/contact"><i class="fa fa-envelope fa-fw"></i> {{header_contact}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/{{page_name}}">English</a></li>
                <li><a href="/ru/{{page_name}}">Русский</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End header. -->
